/* Main Page, Header and Footer stylesheet */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import 'bootstrap';

$font-lato: 'Lato', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$header-color: #333333;

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-open-sans;
}

.body-text {
  font-weight: lighter;
}

.text-center {
  text-align: center;
}

.btn-center {
  width: 90px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

/* Header */

header {
  background-color: $header-color;
  ul { 
    list-style: none;
    font-size: 15px;
  }
  a:link, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: lightgray;
  }
  line-height: 50px;
}

.title {
  font-size: 20px;
  letter-spacing: 1.25px;
}

.nav {
  li {
    a:hover, a:focus {
      background-color: $header-color;
      color: #A4A7A7;
    }
  }
}

.navbar {
  border-radius: 0px;
}

.logo {
  margin-left: 10px;
}


/* Sign Up */

.btn {
  &:focus {
    text-decoration: none;
  }
  a:link, a:visited, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
}

/* Footer */

footer {
  border-top: solid 1px lightgray;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
  .signature { font-weight: lighter; }
}
