// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-each {
  // padding: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 60%;
  margin: 20px auto;
}

.user-btn {
  margin: 10px;
}

.user-stats {
  padding-bottom: 10px;
  font-size: 0.9em;
}

.user-each > .created-at {
  color: #1F9F1F;
  font-size: 0.9em;
}